---
import Base from "@/layouts/Base.astro";
import Footnotes from "@/components/Footnotes.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<Base title={post.data.title}>
    <article>
        <h1>{post.data.title}</h1>
        <section class="meta">
            <span>
                Posted on <time datetime={post.data.pubDate.toISOString()}>2022-07-01</time>
            </span>
            <span class="sep">▪</span>
            <ul>
                {
                    post.data.tags.map((tag) => (
                        <li>
                            <a href=`/tags/${tag}`>#{tag}</a>
                        </li>
                    ))
                }
            </ul>
        </section>
        <Content />
        <Footnotes />
    </article>
</Base>

<style>
    section.meta {
        color: var(--g4);
        margin-block-end: 2rem;
    }

    .sep {
        padding-inline: 0.5rem;
        user-select: none;
    }

    ul {
        display: inline;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            display: inline;

            & a {
                text-decoration: none;
                color: unset;
                padding-inline: 0.125rem;

                &:hover {
                    color: var(--fg);
                }
            }
        }
    }

    @media (max-width: 720px) {
        section.meta {
            margin-block-end: 1.5rem;
        }
    }
</style>
