---
import { numberToColor } from "../lib/color";

interface Props {
    n: number;
    link?: boolean;
}

const { n, link = true } = Astro.props;
const color = numberToColor(n);
const style = `background: ${color}40; color: ${color}ff; border-color: ${color}ff;`;
---

{
    link ? (
        <a
            href={`#sidenote-${n}`}
            id={`sidenote-label-${n}`}
            aria-describedby="sidenote-label"
            style={style}
        >
            {n}
        </a>
    ) : (
        <span style={style}>{n}</span>
    )
}

<style>
    a,
    span {
        display: inline;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: bold;
        cursor: pointer;
        padding: 0rem 0.375rem;
        flex-shrink: 0;
        border: 1px solid var(--fg);
        filter: brightness(1);
        transition: filter 0.1s ease;

        &:hover {
            filter: brightness(1.2);
        }
    }

    a {
        margin: 0 0.25rem;
    }

    span {
        font-size: 0.75rem;
        padding-block: 0.125rem;
    }
</style>
