---
import SideLabel from "./SideLabel.astro";

interface Props {
    n: number;
}

const { n } = Astro.props;
---

<li id={`sidenote-${n}`}>
    <SideLabel n={n} link={false} />
    <div class="sidenote-content">
        <slot />
        <a href={`#sidenote-label-${n}`} aria-label={`Back to side note ${n}`}> ↩ </a>
    </div>
</li>

<style>
    li {
        display: flex;
        align-items: start;
        gap: 0.5rem;
    }

    a {
        font-size: 0.85rem;
        font-weight: bold;
    }
</style>

<style is:inline>
    .sidenote-content p {
        display: inline;
        margin: 0;
    }
</style>
